## Base16 oomox-Frontier
# Author: oomox-Frontier
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0a0a10
text-color=#7b8046
border-color=#567ea9

[urgency=low]
background-color=#0a0a10
text-color=#867c41
border-color=#567ea9

[urgency=high]
background-color=#0a0a10
text-color=#a5685f
border-color=#567ea9
