// default window behaviour
window-rule {
    clip-to-geometry true
    opacity 1.0
    geometry-corner-radius 20 0 40 0
    //baba-is-float true
}

// sharper corner for any apps that need the top left corner
window-rule{
	match app-id="Alacritty"
	geometry-corner-radius 10 0 40 0
}

// sharper corner for any apps that neet that for some reason
window-rule{
	match app-id="Konsole"
	geometry-corner-radius 10 0 10 0
}

window-rule{
	match is-focused=false
	opacity 0.95
	focus-ring {
		off
	}
}

// open on right display
window-rule{
	match app-id="discord"
	default-column-width {proportion 1.0;}
	open-on-output "HDMI-A-2"
}

// open on center display
window-rule{
	match app-id="firefox"
	match title=" - Anki"
	match app-id="krita"
	match title="Krita"
	exclude title=" Krita"
	default-column-width {proportion 1.0;}
	open-on-output "DP-2"
}

// open floating
window-rule{
    match title="File Operation"
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// floating windows
window-rule{
	match is-floating=true
	geometry-corner-radius 4
}


// windows to block out from screen caprure
window-rule {
	match app-id=r#"^org\.keepassxc\.KeePassXC$"#
	match app-id=r#"^org\.gnome\.World\.Secrets$"#
	match title="- Gmail"
	match app-id="firefox" title="Private"
	match app-id="viewnior"
	match app-id="thunar"
	match app-id="discord"

	block-out-from "screen-capture"
}

