## Base16 oomox-Survey
# Author: oomox-Survey
#
# You can use these variables anywhere in the mako configuration file.

background-color=#14233a
text-color=#b55944
border-color=#327cbd

[urgency=low]
background-color=#14233a
text-color=#7d7d02
border-color=#327cbd

[urgency=high]
background-color=#14233a
text-color=#b65753
border-color=#327cbd
