## Base16 oomox-Puncture
# Author: oomox-Puncture
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#38ba8b
border-color=#62a4f1

[urgency=low]
background-color=#000000
text-color=#b1a32f
border-color=#62a4f1

[urgency=high]
background-color=#000000
text-color=#e77f6c
border-color=#62a4f1
