## Base16 oomox-Puncture
# Author: oomox-Puncture
#
# You can use these variables anywhere in the mako configuration file.

background-color=#041132
text-color=#37b98a
border-color=#3b52b2

[urgency=low]
background-color=#041132
text-color=#b59334
border-color=#3b52b2

[urgency=high]
background-color=#041132
text-color=#bc2531
border-color=#3b52b2
