## Base16 oomox-Dyson
# Author: oomox-Dyson
#
# You can use these variables anywhere in the mako configuration file.

background-color=#191b2b
text-color=#3a5cc8
border-color=#497fff

[urgency=low]
background-color=#191b2b
text-color=#a9b636
border-color=#497fff

[urgency=high]
background-color=#191b2b
text-color=#a93140
border-color=#497fff
