## Base16 oomox-Frontier
# Author: oomox-Frontier
#
# You can use these variables anywhere in the mako configuration file.

background-color=#181b22
text-color=#efd98d
border-color=#664ffa

[urgency=low]
background-color=#181b22
text-color=#ccb444
border-color=#664ffa

[urgency=high]
background-color=#181b22
text-color=#de3858
border-color=#664ffa
