## Base16 oomox-SlowEnd
# Author: oomox-SlowEnd
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0d001a
text-color=#6e5181
border-color=#1e6883

[urgency=low]
background-color=#0d001a
text-color=#715d20
border-color=#1e6883

[urgency=high]
background-color=#0d001a
text-color=#874a51
border-color=#1e6883
