## Base16 oomox-SlowEnd
# Author: oomox-SlowEnd
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0f041b
text-color=#69b3c1
border-color=#6139d3

[urgency=low]
background-color=#0f041b
text-color=#bb6c30
border-color=#6139d3

[urgency=high]
background-color=#0f041b
text-color=#bb1458
border-color=#6139d3
