@import "~/.config/rofi/color.rasi"

* {
  font: "proggyclean Nerd Font 20";
}
window {
  padding: 0.5em;

  width:  30%; 
}

mainbox {
  children: [inputbar,listview];
}

inputbar {
  children: [ entry ];
  margin: 5px;
}

listview, {
  border: 0px;
  scrollbar: false;
  margin: 5px;
  lines:   6;
}

element {
    orientation: vertical;
}

