## Base16 oomox-Dyson
# Author: oomox-Dyson
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#3b5dc9
border-color=#0964c7

[urgency=low]
background-color=#000000
text-color=#b1ad00
border-color=#0964c7

[urgency=high]
background-color=#000000
text-color=#b52c3c
border-color=#0964c7
