
layout {

    	focus-ring {
		on
		width 4
		active-color "#72eef6"
		inactive-color "#000000"
		urgent-color "#ff0000"
	}

	tab-indicator {
		hide-when-single-tab
		place-within-column
		corner-radius 1
		width 10
		length total-proportion=1.0
		gaps-between-tabs 10
		position "left"
		active-color "#72eef6"
		inactive-color "#1a1c2c"
		urgent-color "ff0000"
	}
}
